html{
  font-family: monospace;
  background-color: #e4ccaa73;
  background-image: url(./bc.png);
  background-size: 50px;
  background-position: -25px -25px;
  background-repeat: round;
  color: #0b333b;
  height: 100%;
}

#pager {
  position: absolute;
  right: 10px;
  top: -50px;
}

#pager label:hover {
  border-color:black;
}

#pager label{
  border: 1px solid transparent;
  display: block;
  background-color: azure;
  padding: 5px;
}


input[type=range]{
  background-color: transparent;
}

/*RANGE THUMB*/
input[type=range]::-ms-thumb{
  border: 2px solid black;
  background-color: red;
}
input[type=range]::-moz-range-thumb{
  border: 2px solid black;
  background-color: red;
}
input[type=range]::-webkit-slider-thumb {
  border: 2px solid black;
  background-color: red;
}


/*RANGE TRACK*/
input[type=range]::-moz-range-track{
  border: 2px solid black;
}

input[type=”range”]::-ms-track{
  border: 2px solid black;
}

input[type=”range”]::-webkit-slider-runnable-track{
  border: 2px solid black;
}



/*MAIN STRUCTURE*/
h1 {
  text-align: center;
}


section {
  border-radius: 25px;
  border: 5px solid #026783;
  background-color: white;
  padding: 10px;
  margin: 5px;
}

main {
  border-radius: 25px;
  /*border: 1px solid black; */
  padding: 10px;
  margin: 2% 5%;
  position: relative;
  
  /* grid settings */  
  display: grid;
  column-count: 2;
  column-gap: 25px;
  row-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.sleep {
  display: none;
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}



/*PROFILE SECTION*/
#profile {
  grid-column: 1;
}

#profile tbody tr:hover{
  background-color: lightblue;
}

/*classes for fun colors*/
.very_bad{
  color: crimson;
}

.bad{
  color: tomato;
}

.neutral{
  color: goldenrod;
}

.good{
  color: yellowgreen;
}

.very_good{
  color: green;
}


table{
  border-collapse: collapse;
  display: table;
}

tr {
  display: table-row;
}

th, td {
  border: none;
  padding: 10px;
  text-align: center;
}

#details {
  grid-column: 2;
}

#recommendations{
  grid-column: 2;
}




/*PARAMETERS*/
#parameters {
  grid-column: 1;
  display: grid;
  column-gap: 10px;
  column-count: 2;
  row-gap: 10px;
  grid-auto-flow: column;
}

#parameters > h2{
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: center;
}

#parameters > label{
  grid-column: 1;
}

#parameters > input {
  grid-column: 2;
}




/*FOOTER*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98vw;
  padding: 1vw;
  font-size: larger;
  text-align: center;
  background-color: #DDD;
}
